mixin callback()
  section.callback-wrap
    .container
      +b.callback
        .row.justify-content-end
          .col-xl-9
            h2.title-main.mb15 ОТДАЙТЕ ЧАСЫ на <br> <span class='c-gold'>бесплатную диагностику</span>
            span.title-small.ml50.d-inline-block Чтобы получить бесплатную диагностику, запоните форму. Часы <span class='fw-extra-bold'>можете привезти лично</span> или <span class='fw-extra-bold'>передать с помощью нашего курьера</span>. Стоимость выезда по Москве - от 500 руб.
