mixin steps()
  section.steps-wrap
    .container
      +b.steps
        h2
          span.title-main Каждый этап работ <br> прописан в смете
          span.title-small.ml20 Репассаж (техническое обслуживание) механических <br> часов с системой автооооподзавода
        +e.main
          +e.items
            -
              var items1 = [
                'Часы приняты в ремонт ',
                'Выемка механизма из корпуса',
                'Мойка корпуса и браслета (при наличии) в ультразвуковой ванне',
                'Разбор механизма ',
                'Дефектация узлов и деталей механизма (тщательный осмотр)',
                'Замена деталей (при выявлении неисправностей)',
                'Мойка и сушка всех элементов механизма',
                'Повторный осмотр узлов механизма'
              ]
            each item, index in items1
              +e.item
                +e.item-number
                  span= index + 1
                +e.item-text
                  p= item
            -
              var items2 = [
                'Сборка и смазка механизма ',
                'Проверка и регулировка рубинов',
                'Регулировка палет анкерной вилки',
                'Регулировка точности хода',
                'Установка циферблата и стрелок, установка механизма в корпус',
                'Смазка прокладок селиконом либо замена. Обеспечение герметичности',
                'Циклотекст. Проверка механизма автоподзавода (не менее 3 суток)'
              ]
            each item, index in items2
              +e.item
                +e.item-number
                  span= index + 9
                +e.item-text
                  p= item
          +e.items
        +e.video
