mixin header()
  section.header-wrap
    .container.pos-relative
      +b.header
        .d-flex.justify-content-md-end.flex-md-row.flex-column.align-items-start
          .d-flex.flex-column.align-items-start.fz11.mt10.mr30
            span Режим работы:
            span пн. - пт. с 10-00 до 20-00
            span вс.: 10:00 - 18:00
          button.btn.bg-white.mt10.contacts__btn.mr30
            span.phone-circle.bg-gradient.float-left
              img(src="assets/images/phone.png" alt='')
            span.d-inline-flex.flex-column.align-items-start.mt5.ml5
              span.fz13.fw-extra-bold +7 (495) 777 777 77
              span.c-gray.fz11 ул. Краснаягвардейска 7/9
          .btn.pr0.mt10.lh1
            span.phone-circle.bg-gradient.float-left
              img(src="assets/images/phone.png" alt='')
            span.d-inline-flex.flex-column.align-items-start.mt5.ml5
              span.fz13.fw-extra-bold +7 (495) 777 777 77
              span.c-gray.fz11 ул. Косыгина, д 28, корп. 2, <br> БЦ Якорь
        h2.mt70
          span.title-main Ремонт часов с гарантией <br>
          span.title-main на работу 1 год
          span.title-small.ml20 От мастеров, которые прошли обучение в Швейцарии
        +e.main
          +e.text-aside-first.text-aside
            img(src="assets/images/mouse-icon.png" alt='')
            span.text-aside-phone узнать подробнее
          .d-flex.flex-wrap.fz13.col
            .col-lg-4.mb15
              +e.icon.float-left
                img(src="assets/images/head-icon1.png" alt='')
              .mt5
                span.mt5 Оплата картой, картой рассрочки “Халва” или наличными
            .col-lg-4.mb15
              +e.icon.float-left
                img(src="assets/images/head-icon2.png" alt='')
              .mt5
                span Бесплатная мойка корпуса или замена батарейки
            .col-lg-4.mb15
              +e.icon.float-left
                img(src="assets/images/head-icon3.png" alt='')
              .mt5
                span Удобное расположение в 5-ти минутах хотьбы от метро
          +e('form').callback
            +e('h3').callback-title Отдайте <span class="c-gold">часы на бесплатную диагностику</span> и узнайте стоимость ремонта
            p.fw-ultra-light.text-center Чтобы получить бесплатную диагностику, запоните форму. Часы можете привезти лично или передать <br> с помощью нашего курьера. Стоимость выезда по Москве - от 500 руб.
            .d-flex.flex-wrap.justify-content-center.flex-column.flex-sm-row
              +e('input').input.mt10(placeholder="Ваш телефон")
              +e('input').input.mt10(placeholder="Ваше имя")
              button(type="submit").btn.btn-normal.bg-gradient.mt10 Оставить заявку
        +e('img').img(src="assets/images/Rolex-PNG-High-Quality-Image.png" alt='')
        +e.text-aside-second.text-aside
          span.text-aside-phone качество проверенное временем
