mixin footer()
  footer.footer-wrap
    .container
      +b.footer
        .flex-grow-1.d-flex.justify-content-md-center.mb15
          span Ремонт часов любых <br>марок в Москве
        .mb15.ml-auto
          +e('a').link-privacy(href='#') Политика конфидециальности
        span.d-flex.flex-md-column.mb15
          span Copiright © 2015-2017 <br> Premium service” Все права защищены
