@import "vars"

.phone-circle
  display: inline-flex
  align-items: center
  justify-content: center
  height: 31px
  width: 31px
  border-radius: 50%
  box-shadow: -3px 3px 15px rgba(0, 0, 0, 0.3)

.title
  &-main
    text-transform: uppercase
    font-size: 35px
    font-weight: 800
    line-height: 1.2
  &-small
    display: inline-block
    font-size: 17px
    font-weight: 200

.text-aside
  position: absolute
  z-index: 3
  display: flex
  align-items: center
  font-size: 11px
  text-transform: uppercase
  font-weight: 800
  letter-spacing: 3px
  transform: rotate(90deg)
  transform-origin: 0 0
  @media (max-width: 991px)
    display: none
  span
    position: relative
    display: flex
    align-items: center
    &:before
      position: absolute
      content: ""
      left: -30px
      width: 15px
      border: 0.5px solid
  &-phone
    opacity: 0.3
  img
    margin-right: 45px
  &-small
    font-size: 13px
    font-weight: 500
    letter-spacing: 0
    text-transform: none
    transform: rotate(-90deg) translateY(-100%)
    span
      &:before
        left: calc(100% + 20px)
        width: 22px

.video-js
  &:hover
    .vjs-big-play-button
      background-color: transparent
  .vjs-big-play-button
    left: 50%
    top: 50%
    height: 40px
    background-color: transparent
    background-image: url('../images/play-icon.png')
    background-repeat: no-repeat
    background-position: center
    background-size: contain
    border: none
    transform: translate(-50%, -50%)
    .vjs-icon-placeholder:before
      display: none

.vjs-paused
  .vjs-big-play-button
    display: block !important
  .vjs-control-bar
    display: none

.accordion-item-bottom
  max-height: 0
  overflow: hidden
  transition: all 0.4s ease-out

.accordion-active
  .accordion-item-bottom
    max-height: 1000px
    transition: all 0.4s ease-in

.accordion-item-top
  display: inline-block
  cursor: pointer
