.mt0
  margin-top: 0

.mb0
  margin-bottom: 0

.ml0
  margin-left: 0

.ml10
  margin-left: 10px

.mr0
  margin-right: 0

.my0
  margin-top: 0
  margin-bottom: 0

.mx0
  margin-left: 0
  margin-right: 0

.m0
  margin: 0

.mt8
  margin-top: 8px

.mt5
  margin-top: 5px

.mt70
  margin-top: 70px

.mt10
  margin-top: 10px

.mt15
  margin-top: 15px

.mt20
  margin-top: 20px

.mt30
  margin-top: 30px

.ml5
  margin-left: 5px

.ml10
  margin-left: 10px

.ml15
  margin-left: 15px

.ml20
  margin-left: 20px

.ml30
  margin-left: 30px

.ml50
  margin-left: 50px

.ml80
  margin-left: 80px

.mb10
  margin-bottom: 10px

.mb15
  margin-bottom: 15px

.mb20
  margin-bottom: 20px

.mb30
  margin-bottom: 30px

.pr0
  padding-right: 0

.pr30
  margin-right: 30px

.pl0
  padding-left: 0
